<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include("common/icon_font.ejs") %>
</head>
<body>
    <%- include("common/header.ejs",{change:"notmain", logo:"logo_black.png"}); %>
    <div id="container">
        <div class="clothes_menu_wrap">
            <div class="center">
                <h2 class="title">카테고리</h2>
                <ul class="menu_list">
                    <li><a href="/menu/top">상의</a></li>
                    <li><a href="/menu/outer">아우터</a></li>
                    <li><a href="/menu/bottom">하의</a></li>
                    <li><a href="/menu/shoes">신발</a></li>
                    <li><a href="/menu/cap">모자</a></li>
                </ul>
                <div class="list_wrap">
                    <% for(let i=0; i<prdData.length; i++){ %>
                    <div class="list_box">
                        <a href="#">
                            <div class="img_wrap">
                                <img src="/upload/<%- prdData[i].prd_file %>" alt="">
                            </div>
                            <div class="text_box">
                                <p class="comp">[<%- prdData[i].prd_comp %>]</p>
                                <p class="name"><%- prdData[i].prd_name %></p>
                                <div class="price_wrap">
                                    <div class="left">
                                        <p class="sale_price"><%- prdData[i].prd_sale_price %><span>원</span></p>
                                        <p class="price"><%- prdData[i].prd_price %><span>원</span></p>
                                    </div>
                                    <div class="right">
                                        <p class="percent"><%- prdData[i].prd_percent %><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
                </div>

                <ul class="page_list">
                    <!-- 처음 -->
                    <!-- 
                        첫번째 페이지일 경우에는 이동경로를 안달아줌
                        아닐 경우에는 첫번째 페이지로 가는 이동경로 달아줌
                    -->
                    <% if(page_number <= 1){ %>
                        <li>처음</li>
                    <% } else { %>
                        <li><a href="?page=1">처음</a></li>
                    <% } %>
                    <!-- 이전 -->
                    <!-- 
                        이전버튼을 누를경우 해당세트의 첫페이지 시작번호에서 1을 뺀 값으로 이동
                        즉, 3세트블록에서 시작번호의 이전인 2세트블록 마지막번호로 감
                    -->
                    <% if(block_start > total_block){ %> <!-- ?? -->
                        <li><a href="?page=<%-block_start - 1 %>">이전</a></li>
                    <% } %>
                </ul>


            </div>
        </div>
    </div>
    <%- include("common/footer.ejs",{change:"white_ver", logo:"logo_black.png"}); %>
    <!-- 맨 위로 가는 태그영역 -->
    <%- include("common/go_top.ejs") %>
    <!-- js -->
    <script src="/js/sub_menu_list.js"></script>
</body>
</html>